<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>动态圆弧</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

</head>

<body>

    <div class="container">
        <canvas id="myArcChart" width="500" height="500"></canvas>
        <div class="center-text" id="centerLabel">距离: 0米</div>
        <!-- 车的位置标注 -->
        <div id="carPosition" class="car-position">
            <p>&emsp;  您的爱车在：<span id="carLocation">左前方&emsp; &emsp; &emsp; </span></p>
        </div>

    </div>
    <!-- 在 HTML 中引入插件 -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>